<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="header" style="width:100%,border-bottom:1px solid blue"/>
  </body>
</html>
